/*============================================================
                      汎用
============================================================*/

@mixin u--clearfix {
  &:after {
  content: '';
  display: block;
  clear: both;
  }
}

/*================================================
        その他
===============================================--*/
