@mixin u-space--before {
  position: relative;
  &:before {
    content: "";
    right: -27.5vw;
    background: #FFF;
    position: absolute;
    width: 27.5vw;
    height: 100%;
    top: 0;
    @content;
  }
}

@mixin u-space--after {
  position: relative;
  &:before {
    content: "";
    left: -27.5vw;
    background: #FFF;
    position: absolute;
    width: 27.5vw;
    height: 100%;
    top: 0;
    @content;
  }
}